<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/FDAboutUs.css">
    <title>Finer Dining</title>
</head>
<body>
    <div class="navbar">
      <a class="homeBtn" href="/home"><svg width="4rem" height="4rem" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0_15_3)">
        <rect width="24" height="24" fill="gray"/>
        <path d="M9 21H4C3.44772 21 3 20.5523 3 20V12.4142C3 12.149 3.10536 11.8946 3.29289 11.7071L11.2929 3.70711C11.6834 3.31658 12.3166 3.31658 12.7071 3.70711L20.7071 11.7071C20.8946 11.8946 21 12.149 21 12.4142V20C21 20.5523 20.5523 21 20 21H15M9 21H15M9 21V15C9 14.4477 9.44772 14 10 14H14C14.5523 14 15 14.4477 15 15V21" stroke="#000000" stroke-linejoin="round"/>
        </g>
        <defs>
        <clipPath id="clip0_15_3">
        <rect width="24" height="24" fill="white"/>
        </clipPath>
        </defs>
        </svg></a>
        <a class="navbar-brand great-vibes-regular">
          <img src="/images/food.svg">
          Finer Dining</a>
        <h2 id="logo" class="great-vibes-regular">Where Dining, Becomes Finer!</h2>
        <ul class="nav nav-tabs nav-fill">
          <li class="nav-item">
            <a class="nav-link" href="/FineDiningHomepage">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/FineDiningMenu">Menu</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/FineDiningAboutUs">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/FineDiningCareers">Careers</a>
          </li>
        </ul>
      </div>
      <div class="container-fluid AboutUsContent">
        <div class="row">
            <div class="col">
              <img src="https://www.escoffier.edu/wp-content/uploads/2022/03/Smiling-male-chef-with-white-coat-and-hat-768.jpg" alt="Head Chef picture">
              <h2 class="roboto-regular">The Owner & Head Chef</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti at a ea, iusto exercitationem sapiente atque est veritatis? Voluptatem possimus rerum, praesentium mollitia iste quod saepe numquam sapiente labore nihil.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, vitae nulla? Dicta delectus, illo voluptatum labore officia quisquam consectetur quo maiores. Officiis voluptate harum eveniet consequuntur magni exercitationem amet fugiat.</p>
              </div>
        </div>
        <hr>
        <div class="row">
            <div class="col">
              <img src="https://cdn.creazilla.com/photos/1565206/poor-street-photo-xl.jpeg" alt="First Buisness">
                <h2 class="roboto-regular">Our Story</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti at a ea, iusto exercitationem sapiente atque est veritatis? Voluptatem possimus rerum, praesentium mollitia iste quod saepe numquam sapiente labore nihil.</p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col">
              <img src="https://images.stockcake.com/public/a/b/d/abded9e1-08e2-4fd2-a9e0-2fe7a250cd72_large/friendly-staff-posing-stockcake.jpg" alt="Our Staff">
                <h2 class="roboto-regular">Our Staff</h2>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolore ut consequuntur saepe distinctio? Modi alias, nostrum sapiente rem consectetur repellat magnam doloribus mollitia vel, minima earum animi, blanditiis laborum illo.</p>
            </div>
        </div>
      </div>
      <footer class="pt-4">
        <h3>Thanks For Visiting our Webpage!</h3>
        <p>Follow Us On Our Socials!</p>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>