<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Personal Website</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="\css\home.css" rel="stylesheet">
</head>
<body>
  <nav class="navbar navbar-expand-lg bg-body-tertiary"data-bs-theme="dark">
    <div class="container-fluid ">
      <h1 class="navbar-brand">Reyhan's Portfolio</h1>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
          <a class="nav-link" href="/about">About me</a>
        </div>
      </div>
    </div>
  </nav>
  <div>
    <p class="description">
      Welcome to my Web Development portfolio. 
      Here you can find some of the projects that I Reyhan Maharaj have personally created in my past time. 
      These projects are the result of my research and desire to grow and expand my skillset as an aspiring Software Engineer.
      Please take your time and explore my work at your leisure.
    </p>
  </div>
  <hr>
  <div class="viewing">
    <h2>Completed</h2>
    <div id="carousel-completed" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <!--1st carousal item-->
        <div class="carousel-item active">
          <div class="card" style="width: 20vw;">
            <a href="/resume"><svg version="1.1" id="_x32_" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512" xml:space="preserve">
                <style type="text/css">
                  .st0 {
                    fill: #000000;
                  }
                </style>
                <g>
                  <path class="st0"
                    d="M276.239,252.183c-6.37,2.127-13.165,3.308-20.239,3.308c-7.074,0-13.87-1.181-20.24-3.308
                          c-46.272,7.599-70.489,41.608-70.489,82.877H256h90.728C346.728,293.791,322.515,259.782,276.239,252.183z" />
                  <path class="st0" d="M256,240.788c27.43,0,49.658-22.24,49.658-49.666v-14.087c0-27.426-22.228-49.659-49.658-49.659
                          c-27.43,0-49.658,22.233-49.658,49.659v14.087C206.342,218.548,228.57,240.788,256,240.788z" />
                  <path class="st0" d="M378.4,0H133.582C86.234,0,47.7,38.542,47.7,85.899v340.22C47.7,473.476,86.234,512,133.582,512h205.695
                          h13.175l9.318-9.301l93.229-93.229l9.301-9.31v-13.174V85.899C464.3,38.542,425.766,0,378.4,0z M432.497,386.985H384.35
                          c-24.882,0-45.074,20.183-45.074,45.073v48.139H133.582c-29.866,0-54.078-24.221-54.078-54.078V85.899
                          c0-29.874,24.212-54.096,54.078-54.096H378.4c29.876,0,54.096,24.222,54.096,54.096V386.985z" />
                </g>
              </svg></a>
            <div class="card-body">
              <p class="card-text">Resume Webpage</p>
              <a href="/resume"><button type="button" class="viewBtn">View</button></a>
            </div>
          </div>
        </div> <!--1st carousal item-->
         <!--2nd carousal item-->
        <div class="carousel-item">
          <div class="card" style="width: 20vw;">
            <a href="./cocktailHomepage"><svg version="1.1" id="_x32_" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
              viewBox="0 0 512 512"  xml:space="preserve">
           <style type="text/css">
             .st0{fill:#000000;}
           </style>
           <g>
             <path class="st0" d="M325.92,348.588l180.976-238.776H359.931l14.906-32.701c7.318-16.061,20.73-28.548,37.269-34.696
               l54.363-20.229L458.211,0l-54.355,20.229c-22.432,8.35-40.62,25.291-50.558,47.068l-19.382,42.515H96.389l180.969,238.776v109.534
               L201.965,512h199.356l-75.401-53.878V348.588z M206.617,189.265h190.044l-95.022,125.358L206.617,189.265z"/>
             <path class="st0" d="M66.931,154.514c6.016,2.481,12.017,2.342,12.017,2.342c1.656,0,3.189-0.1,4.422-1.117
               c1.225-1.009,1.941-2.527,1.941-4.129v-38.263l-0.824-1.233l-1.456,0.294l-27.055,27.054c-1.132,1.133-1.702,2.704-1.548,4.284
               c0.162,1.595,1.056,2.704,2.342,3.921C56.77,147.667,60.915,152.004,66.931,154.514z"/>
             <path class="st0" d="M128.104,53.824c-0.154-1.595-1.048-2.704-2.334-3.914c0,0-4.145-4.345-10.161-6.841
               c-6.016-2.496-12.017-2.349-12.017-2.349c-1.664,0-3.189,0.107-4.414,1.117c-1.233,1.017-1.949,2.527-1.949,4.129v38.263
               l0.824,1.225l1.448-0.286l27.062-27.062C127.689,56.982,128.25,55.403,128.104,53.824z"/>
             <path class="st0" d="M35.547,121.938c2.496,6.016,6.841,10.16,6.841,10.16c1.171,1.171,2.326,2.172,3.914,2.334
               c1.586,0.155,3.166-0.416,4.29-1.54l27.062-27.062l0.285-1.456l-1.232-0.816H38.444c-1.602,0-3.113,0.708-4.122,1.942
               c-1.017,1.232-1.171,2.65-1.125,4.429C33.198,109.928,33.06,115.921,35.547,121.938z"/>
             <path class="st0" d="M144.096,94.967c1.595,0,3.105-0.708,4.122-1.941c1.009-1.232,1.171-2.65,1.117-4.414c0,0,0.146-6-2.35-12.017
               c-2.488-6.024-6.833-10.161-6.833-10.161c-1.179-1.178-2.326-2.187-3.914-2.334c-1.586-0.154-3.166,0.409-4.29,1.534
               l-27.062,27.062l-0.285,1.448l1.232,0.824H144.096z"/>
             <path class="st0" d="M34.323,93.026c1.009,1.233,2.52,1.941,4.122,1.941h38.263l1.232-0.824l-0.285-1.448L50.592,65.633
               c-1.125-1.133-2.704-1.688-4.29-1.534c-1.587,0.147-2.688,1.048-3.914,2.334c0,0-4.345,4.137-6.841,10.161
               c-2.488,6.016-2.35,12.01-2.35,12.01C33.198,90.276,33.306,91.794,34.323,93.026z"/>
             <path class="st0" d="M85.312,45.966c0-1.602-0.716-3.112-1.941-4.129c-1.233-1.017-2.65-1.164-4.422-1.117
               c0,0-6-0.147-12.017,2.349c-6.017,2.496-10.161,6.833-10.161,6.833c-1.178,1.178-2.18,2.326-2.342,3.913
               c-0.154,1.587,0.416,3.166,1.548,4.291L83.031,85.16l1.456,0.294l0.824-1.233V45.966z"/>
             <path class="st0" d="M162.307,98.788h15.13c0-19.905-6.772-38.255-18.164-52.853c-4.384-5.654-9.506-10.738-15.161-15.168
               c-14.59-11.362-32.948-18.126-52.861-18.126c-47.492,0-86.148,38.633-86.148,86.147c0,15.638,4.198,30.336,11.517,42.985
               c7.58,13.111,18.542,24.074,31.66,31.662c12.642,7.31,27.332,11.501,42.962,11.509v-15.122
               c-39.226-0.008-71.018-31.808-71.018-71.034c0-39.226,31.807-71.033,71.041-71.033C130.508,27.755,162.307,59.562,162.307,98.788z"
               />
           </g>
           </svg></a>
            <div class="card-body">
              <p class="card-text">Cocktail's Hub.</p>
              <a href="./cocktailHomepage"><button type="button" class="viewBtn">View</button></a>
            </div>
          </div>
        </div><!--2nd carousal item-->
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carousel-completed"
        data-bs-slide="prev" style="background-color: black; height:17rem;">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carousel-completed"
        data-bs-slide="next" style="background-color: black; height:17rem;">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  <hr>
  <h2>In Progress</h2>
  <div id="carousel-inProgress" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <!--1st carousal item-->
        <div class="card" style="width: 20vw;">
          <a href="./blogHomePage"><svg version="1.1" id="_x32_" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
            viewBox="0 0 512 512"  xml:space="preserve">
         <style type="text/css">
           .st0{fill:#000000;}
         </style>
         <g>
           <rect x="293.186" y="307.184" class="st0" width="131.572" height="112.986"/>
           <rect x="87.243" y="308.893" class="st0" width="154.448" height="17.162"/>
           <rect x="87.243" y="401.298" class="st0" width="154.448" height="17.162"/>
           <rect x="87.243" y="355.1" class="st0" width="154.448" height="17.162"/>
           <path class="st0" d="M416.428,0.004H95.58C42.787,0.013,0.016,42.792,0,95.577v303.685
             c0.025,62.262,50.463,112.717,112.742,112.734h286.524c62.27-0.017,112.717-50.464,112.734-112.734V95.577
             C511.992,42.792,469.212,0.013,416.428,0.004z M464.805,399.262c-0.008,18.15-7.308,34.424-19.198,46.34
             c-11.916,11.891-28.19,19.19-46.34,19.198H112.742c-18.15-0.009-34.433-7.308-46.348-19.198
             c-11.892-11.916-19.182-28.19-19.198-46.34V118.696h417.61V399.262z"/>
           <path class="st0" d="M88.96,267.908h34.583c19.71,0,31.642-8.581,31.642-26.548c0-10.852-6.167-18.368-12.2-20.648v-0.268
             c6.034-3.352,10.592-9.519,10.592-19.432c0-14.489-9.251-24.268-29.086-24.268H88.96c-0.796,0-1.332,0.536-1.332,1.34v88.475
             C87.628,267.371,88.164,267.908,88.96,267.908z M107.338,193.495c0-0.528,0.251-0.804,0.804-0.804h13.944
             c7.5,0,11.925,3.888,11.925,10.584c0,6.712-4.425,10.734-11.925,10.734h-13.944c-0.553,0-0.804-0.268-0.804-0.804V193.495z
              M107.338,229.955c0-0.528,0.251-0.795,0.804-0.795h15c8.061,0,12.343,4.424,12.343,11.405c0,7.097-4.282,11.396-12.343,11.396h-15
             c-0.553,0-0.804-0.276-0.804-0.812V229.955z"/>
           <path class="st0" d="M181.516,267.908h59.404c0.796,0,1.332-0.536,1.332-1.349v-14.874c0-0.813-0.536-1.341-1.332-1.341h-40.224
             c-0.544,0-0.804-0.268-0.804-0.812v-71.447c0-0.804-0.528-1.34-1.341-1.34h-17.036c-0.805,0-1.332,0.536-1.332,1.34v88.475
             C180.183,267.371,180.711,267.908,181.516,267.908z"/>
           <path class="st0" d="M292.708,269.374c15.963,0,28.558-7.366,33.251-22.115c2.011-6.301,2.539-11.396,2.539-24.938
             c0-13.542-0.528-18.637-2.539-24.939c-4.693-14.739-17.288-22.114-33.251-22.114c-15.956,0-28.558,7.375-33.243,22.114
             c-2.02,6.302-2.556,11.397-2.556,24.939c0,13.542,0.536,18.637,2.556,24.938C264.149,262.009,276.752,269.374,292.708,269.374z
              M278.361,202.746c2.011-6.301,6.847-10.055,14.346-10.055c7.508,0,12.335,3.754,14.346,10.055
             c1.073,3.226,1.474,7.634,1.474,19.576c0,11.924-0.402,16.357-1.474,19.567c-2.011,6.31-6.838,10.072-14.346,10.072
             c-7.5,0-12.335-3.763-14.346-10.072c-1.064-3.21-1.475-7.643-1.475-19.567C276.886,210.38,277.297,205.972,278.361,202.746z"/>
           <path class="st0" d="M387.961,269.374c16.081,0,28.685-8.171,33.251-22.794c1.6-4.952,2.263-12.46,2.263-20.505v-7.517
             c0-0.788-0.536-1.333-1.332-1.333h-31.366c-0.813,0-1.349,0.545-1.349,1.333v12.888c0,0.796,0.536,1.332,1.349,1.332h12.326
             c0.536,0,0.805,0.277,0.805,0.805c0,3.879-0.403,6.703-1.073,8.991c-1.878,6.026-7.777,9.386-14.614,9.386
             c-7.91,0-12.88-3.763-14.891-10.072c-1.064-3.21-1.466-7.643-1.466-19.567c0-11.941,0.402-16.223,1.466-19.441
             c2.011-6.302,6.847-10.19,14.631-10.19c7.5,0,12.05,3.218,15.678,9.385c0.269,0.67,0.939,0.939,1.886,0.67l14.338-6.033
             c0.796-0.402,0.947-1.206,0.536-2.019c-4.299-10.995-15.419-19.425-32.439-19.425c-16.232,0-28.835,7.375-33.527,22.114
             c-2.012,6.302-2.556,11.397-2.556,24.939c0,13.542,0.545,18.637,2.556,24.938C359.126,262.009,371.73,269.374,387.961,269.374z"/>
         </g>
         </svg></a>
          <div class="card-body">
            <p class="card-text">Blogger's Hub</p>
            <a href="/blogHomePage"><button type="button" action="/blogHomePage" class="viewBtn">View</button></a>
          </div>
        </div><!--1st carousal item-->
      </div>
      
    <button class="carousel-control-prev" type="button" data-bs-target="#carousel-inProgress" data-bs-slide="prev" style="background-color: black; height:17rem;">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carousel-inProgress" data-bs-slide="next" style="background-color: black; height:17rem;">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  </div>
</div>
  <div class="foot bg-dark">
    <footer>
      <h2>Thanks for viewing!</h2>
    </footer>
  </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>