body{
    background-color: aliceblue;
}
.ad{
    background-color: #8b9bb2;
    text-align: center;
}
.sortSec input{
    border: 1rem;
    border-style: groove;
    border-color: aqua;
}
.drinks{
    margin-left: 2rem;
    text-align: center;
}
.drinks img{
    align-items: center;
    height: 10rem;
    width: 10rem;
    padding-top: 1rem;
    padding-left: 0.5rem;
    
}
.drinks button{
    border: none;
    outline: none;
    background-color: white;
    margin-right: 2rem;
}
.card{
    width: 13rem;
}
.card form{
    
}
.card img{
    object-fit: cover;
    transition: 0.5s ease-in-out;
}
.card::after{
    content: "";
    position: absolute;
    inset: 0;
    border: 2px solid black;
    border-radius: inherit;
    opacity: 0;
    transition: 0.4s ease-in-out;
}
.card:hover img{
    filter:
        grayscale(1)
        brightness(0.4)
}
.card:hover::after{
    opacity: 1;
    inset: 10px;
}
.card:hover .card-body p{
    scale: 1;
    opacity: 1;
    transform: translateY(0);
}

svg{
    margin-right: 1rem;
    background-color:gray;
}