body{
    background-color: aliceblue;
}
nav{
    
}
.ad{
    background-color: #8b9bb2;
}
.cocktailList{

}
.drinks{
    margin-left: 6rem;
    text-align: center;
}
.difficultyBtns{
    
}
.card{
    width: 12rem;
}