body{
    background-color: rgb(22, 121, 171);
}
.resumePage{
    background-color: white;
    border-style: groove;
    border-radius: 6%;
    border-color: white;
    margin-top: 2%;
    margin-bottom: 4%;
    margin-left: 20vw;
    height: 110rem;
    width: 60vw;
}
.contactInfo{
    margin-top: 3vh;
    text-align: center;
}
.line2{
    margin-top: 5%;
    margin-left: 5vw;
}
.line3{
    margin-top: 5%;
    margin-left: 5vw;
}
.line4{
    margin-top: 5%;
    margin-left: 5vw;
}
.traits{
    margin-right: 4rem;
}
.extraSkills{
    margin-top: 2rem;
}
.awards{
    margin-top: 2rem;
    margin-right: 2rem;
}
.special{
    text-decoration: underline;
    font-weight: bold;
}