body{
    background-color: rgb(22, 121, 171);
}
.viewing{
    height: 110vh;
    width: 100vw;
}
.viewing h2{
    text-decoration: underline;
    text-align: left;
    margin-left: 5vw;
    font-family: "Playfair Display", serif;
}
.carousel-item img{
    height: 80vh;
    width: 70vh;
}

.carousel-item svg{
    height:15vh ;
    width:15vw;
    align-items: center;
    /*margin-left: 30%;*/
    margin-top: 5%;
}
.card{
    justify-content: center;
    text-align: center;
    height: 40vh;
}
/*
.carousel-inner{
    margin-left: 40%;
    margin-top: 10px;
    align-content: center;
}*/
.carousel-item{
    height: 40vh;
    margin-left: 40%;
    margin-top: 10px;
    align-items: center;
}
#carousel-completed{
    margin-top: 2vh;
    height: 45vh;
    border: 10px;
}
#carousel-completed h2{
    margin-top: 5vh;
    text-align: center;
}
#carousel-completed h3{
    margin-top: 1vh;
    text-align: center;
}
#carousel-completed a{
    color: rgb(23, 74, 140);
}
#carousel-inProgress{
    height: 55vh;
}

.foot{
    background-color: white;
    padding-top: 5vh;
    height: 20vh;
    width: 100vw;
    text-align: center;
}